/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.container--Header-top-text {
  background-color: #ededed;
}
.wrapper--Header-top-text {
  width: 100%;
}
.paragraph--Header-top-text {
  color: #001689;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.link--Header-top-text {
  color: #001689;
  text-decoration: none;
}
/* ------------------------------- */
/* //* Footer */
/* ------------------------------- */
.wrapper--FooterTitle {
  width: 100%;
}
.paragraph--FooterTitle {
  color: #001689;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.wrapper--Footer__Promotion {
  width: 100%;
}
.paragraph--Footer__Promotion {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  text-align: center;
}
.link--Footer__Promotion {
  color: #8f8f8f;
  text-decoration: none;
  transition: 0.3s;
}
.link--Footer__Promotion:hover {
  color: black;
}
.paragraph--FooterTitle--development {
  margin-bottom: 0;
}
.paragraph--FooterTitle--technology {
  margin-bottom: 0;
}
.wrapper--CopyRight {
  margin-top: 20px;
  width: 100%;
  background-color: #c4c4c4;
  text-align: center;
}
.paragraph--CopyRight {
  color: black;
  margin: 10px;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}
/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
/* ! Home information  */
.wrapper--Information__item {
  width: 100%;
}
.paragraph--Information__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #001689;
  font-family: Urbanist;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.paragraph--Information__item::before {
  content: '';
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.paragraph--Information__item--1::before {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/icono-garantia de-marca.png');
}
.paragraph--Information__item--2::before {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/icono-formas-de-pago.png');
}
.paragraph--Information__item--3::before {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/icono-envios-nacionales.png');
}
.paragraph--Information__item--4::before {
  background-image: url('https://beisbol.vteximg.com.br/arquivos/icono-compra-garantizada.png');
}

/* ! Vitrina 1 */
.heading--Home__Title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #001689;
  font-family: Urbanist;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.container--Home__Title {
  justify-content: center;
}
.heading--Home__Title::before,
.heading--Home__Title::after {
  content: '';
  background-image: url('https://beisbol.vteximg.com.br/arquivos/burbujas-titulos.png');
  background-size: 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.heading--Home__Title::before {
  margin-right: 10px;
  transform: rotate(180deg);
}
.heading--Home__Title::after {
  margin-left: 10px;
}

/* ! Banners Bottom */
.wrapper--Title--mom {
  width: 100%;
}
.heading--Title--mom {
  margin: 0;
  margin-top: 40px;
  padding: 20px 0;
  width: 100%;
  color: white;
  background-color: #a056ff;
}
.heading--Title--mom::before,
.heading--Title--mom::after {
  display: none;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 640px) {
  /* ! Home information  */
  .paragraph--Information__item {
    margin: 30px 0;
  }
}

@media (min-width: 1200px) {
  /* ! Header */
  .paragraph--Header-top-text {
    margin: 5px;
  }

  /* ! Footer */
  .paragraph--FooterTitle--development {
    text-align: left;
  }

  /* ! Home information  */
  .paragraph--Information__item {
    font-size: 17px;
  }
  .paragraph--Information__item::before {
    margin-right: 15px;
  }
  .heading--Title--destacados-new {
    margin-top: 60px;
  }

  /* ! Bottom Banners */
  .heading--Title--mom {
    margin-top: 0;
  }
  .container--Title--mom {
    height: 100%;
  }
}

/* ------------------------------- */
.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
