/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
.container {
  padding: 0;
}
/* ! Top Slide */
.infoCardContainer--TopSlide__Item {
  width: 100%;
  height: 100%;
}
.infoCardSubhead--TopSlide__Item {
  margin-top: 0;
  color: #df209d;
  font-family: Urbanist;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.infoCardHeadline--TopSlide__Item {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.infoCardHeadline--TopSlide__Item::before {
  content: '';
  margin-bottom: 20px;
  width: 100px;
  height: 150px;
  background-image: url('https://epartner.vteximg.com.br/arquivos/mobile-imagen-banner-principal.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.infoCardCallActionContainer--TopSlide__Item {
  margin-bottom: 40px;
}
.infoCardCallActionContainer--TopSlide__Item
  :global(.vtex-button) {
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #001689;
  border-color: #001689;
  border-radius: 51px;
}
/* ! Category slide */
.infoCardContainer--CategorySlide__Item {
  display: flex;
  flex-direction: column-reverse;
}
.infoCardCallActionContainer--CategorySlide__Item {
  margin: 0;
}
.infoCardTextContainer--CategorySlide__Item {
  padding: 0;
  width: 100%;
}
.infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button) {
  display: flex;
  color: #8f8f8f;
  background-color: transparent;
  border-color: transparent;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
.infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button__label) {
  padding: 0;
}
.infoCardImage--CategorySlide__Item {
  height: 100px;
  border-radius: 5px;
}

/* ------------------------------- */
.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup
  :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup
  :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home
    .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home
    .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview
  .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview
  .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview
  .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview
  .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
