/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.flexRowContent--main-header-mobile {
  background-color: white;
}
.flexRowContent--main-header-mobile
  :global(.vtex-store-drawer-0-x-openIconContainer) {
  color: #001689;
}
.flexRowContent--Footer-Promotional {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexRowContent--Footer-Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexRowContent--Footer-Payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexRowContent--Header-Desktop__container--right
  .stretchChildrenWidth {
  width: auto !important;
}
/* ------------------------------- */
/* //* Footer */
/* ------------------------------- */
.flexCol--Footer-Promotional__Images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 90px;
}
.flexColChild--Footer-Promotional__Images {
  padding: 0 10px;
}
.flexRowContent--Footer-development {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.flexCol--Footer-development__container {
  display: flex;
}
.flexColChild--Footer-development__container {
  text-align: center;
}
/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
/* ! Home information  */
.flexRowContent--Home__Information {
  margin-top: 2%;
}
.flexCol--Information__Container {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.flexColChild--Information__Container {
  width: 49%;
  background-color: #ededed;
}
.flexColChild--Information__Container:first-child {
  margin-bottom: 2%;
}
/* ! Category Slide */
.flexRowContent--Home__CategorySlide {
  margin-top: 30px;
}
/* ! Vitrina 1 */
.flexRowContent--ProductShelfHome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexRowContent--ProductShelfHome
  .stretchChildrenWidth:first-child {
  padding: 0 10px 0 0;
  width: auto !important;
}
.flexRowContent--ProductShelfHome
  .stretchChildrenWidth:first-child
  :global(.vtex-product-price-1-x-listPrice) {
  margin-bottom: 0;
  color: #cbcbcb;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.flexRowContent--ProductShelfHome
  .stretchChildrenWidth:last-child {
  width: auto !important;
  background-color: #acb8f5;
  border-radius: 3px;
}
.flexRowContent--ProductShelfHome
  .stretchChildrenWidth:last-child
  :global(.vtex-product-price-1-x-savings) {
  margin: 5px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

/* ! Top Banner */
.flexRowContent--Home__Banners--1 {
  padding: 40px 10px;
}
.flexColChild--Banners--top:first-child {
  margin-bottom: 10px;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 640px) {
  /* ! Footer */
  .flexCol--Footer-Promotional__Images {
    padding: 0 70px;
  }
  /* ! Home information  */
  .flexColChild--Information__Container:first-child,
  .flexColChild--Information__Container {
    width: 25%;
    margin-bottom: 0;
  }
  .flexRowContent--Home__Information {
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  /* ! Footer */
  .flexCol--Footer-Promotional__Images {
    padding: 0 115px;
  }
  /* ! Banners top */
  .flexCol--Banners--top {
    flex-direction: row;
  }
  .flexColChild--Banners--top {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  /* ! Header */
  .flexRowContent--Header__Container {
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    background-color: white;
  }

  /* ! Home Information */
  .flexCol--Information__Container {
    margin: 0 150px;
  }
  .flexRowContent--Home__Information {
    background-color: #ededed;
  }

  /* ! Top Banners */
  .flexRowContent--Home__Banners--1 {
    padding: 70px 100px 50px;
  }

  /* ! Bottom Banners */
  .flexCol--Banners--bottom {
    flex-direction: row;
  }
  .flexColChild--Banners--bottom:first-child {
    width: 30%;
  }
  .flexColChild--Banners--bottom:last-child {
    width: 70%;
  }
}

/* ------------------------------- */
/* .flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
} */
/*
@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
} */
/* @media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
} */

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

/* .flexRowContent--main-header {
  background-color: #f0f0f0;
} */

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
}

.flexRowContent--menu-link
  :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header
  :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
