/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.button {
  width: 25px;
  height: 25px;
  color: #001689;
  background-image: url('https://epartner.vteximg.com.br/arquivos/icono-language.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.buttonText {
  display: none;
}
.globeIcon {
  display: none;
}

/* ------------------------------- */
