/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.logoContainer.sizeMobile {
  display: block;
  padding: 0 10px;
  padding-right: 0;
}
.logoImage {
  width: 100px;
}
/* ------------------------------- */
/* //* Footer */
/* ------------------------------- */
.imageElement--Footer__image--payments {
  width: 90%;
}
.imageElement--Footer__image--development {
  width: 150px;
}
.imageElement--Footer__image--technology {
  width: 105px;
}
/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
/* ! Top Slide */
.infoCardContainer--TopSlide__Item {
  width: 100%;
  height: 100%;
}
.infoCardSubhead--TopSlide__Item {
  margin-top: 0;
  color: #df209d;
  font-family: Urbanist;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.infoCardHeadline--TopSlide__Item {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.infoCardHeadline--TopSlide__Item::before {
  content: '';
  margin-bottom: 20px;
  width: 100px;
  height: 150px;
  background-image: url('https://epartner.vteximg.com.br/arquivos/mobile-imagen-banner-principal.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.infoCardCallActionContainer--TopSlide__Item {
  margin-bottom: 40px;
}
.infoCardCallActionContainer--TopSlide__Item
  :global(.vtex-button) {
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #001689;
  border-color: #001689;
  border-radius: 51px;
}
/* ! Category slide */
.infoCardContainer--CategorySlide__Item {
  display: flex;
  flex-direction: column-reverse;
}
.infoCardCallActionContainer--CategorySlide__Item {
  margin: 0;
  text-decoration: none;
}
.infoCardImageContainer--CategorySlide__Item {
  position: relative;
  width: 100%;
}
.infoCardImageContainer--CategorySlide__Item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  width: 100%;
  background-color: #00000070;
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0;
}
.infoCardImageContainer--CategorySlide__Item--1::after {
  background-image: url('https://epartner.vteximg.com.br/arquivos/icono-categoria-desinfectantes-hover.png');
}
.infoCardImageContainer--CategorySlide__Item--2::after {
  background-image: url('https://epartner.vteximg.com.br/arquivos/icono-categoria-familiar-hover.png');
}
.infoCardImageContainer--CategorySlide__Item--3::after {
  background-image: url('https://epartner.vteximg.com.br/arquivos/icono-categoria-hogar-hover.png');
  background-size: contain;
}
.infoCardImageContainer--CategorySlide__Item--4::after {
  background-image: url('https://epartner.vteximg.com.br/arquivos/icono-categoria-clinico-hover.png');
}
.infoCardContainer--CategorySlide__Item:hover
  .infoCardImageContainer--CategorySlide__Item::after {
  opacity: 1;
}
.infoCardTextContainer--CategorySlide__Item {
  padding: 0;
  width: 100%;
}
.infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button) {
  display: flex;
  color: #8f8f8f;
  background-color: transparent;
  border-color: transparent;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  transition: 0.3s;
}
.infoCardContainer--CategorySlide__Item:hover
  .infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button) {
  color: #001689;
  font-weight: 700;
}
.infoCardCallActionContainer--CategorySlide__Item
  :global(.vtex-button__label) {
  padding: 0;
}
.infoCardImage--CategorySlide__Item {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

/* ! Top Banners */
.infoCardContainer--BannerTop__item {
  border-radius: 5px;
}
.infoCardHeadline--BannerTop__item--1 {
  color: white;
  font-family: Urbanist;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.infoCardSubhead--BannerTop__item--1 {
  margin-top: 0;
  padding: 0 9px;
  color: white;
  background-color: #001689;
  font-family: Urbanist;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.infoCardCallActionContainer--BannerTop__item--1
  :global(.vtex-button) {
  background-color: transparent;
  border-width: 1px;
  border-radius: 100px;
}
.infoCardCallActionContainer--BannerTop__item--1
  :global(.vtex-button__label) {
  padding: 15px 20px !important;
  color: #001689;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.infoCardHeadline--BannerTop__item--2 {
  color: white;
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.infoCardCallActionContainer--BannerTop__item--2
  :global(.vtex-button) {
  background-color: white;
  border-color: white;
  border-width: 1px;
  border-radius: 100px;
}
.infoCardCallActionContainer--BannerTop__item--2
  :global(.vtex-button__label) {
  padding: 15px 20px !important;
  color: #001689;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

/* ! Bottom banners */
.infoCardTextContainer--BannerBottom__item--1 {
  justify-content: center;
  align-items: center;
}
.infoCardContainer--BannerBottom__item--1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.infoCardCallActionContainer--BannerBottom__item--1
  :global(.vtex-button) {
  background-color: #001689;
  border-width: 1px;
  border-radius: 100px;
}
.infoCardCallActionContainer--BannerBottom__item--1
  :global(.vtex-button__label) {
  padding: 15px 20px !important;
  color: white;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.infoCardContainer--BannerBottom__item--2 {
  display: flex;
  align-items: flex-end;
  padding: 30px 10px;
  width: 100%;
}
.infoCardContainer--BannerBottom__item--2::before {
  content: '';
  width: 40%;
  height: 210px;
  background-image: url('https://epartner.vteximg.com.br/arquivos/mobile-imagen-banner-nueva-presentacion.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.infoCardTextContainer--BannerBottom__item--2 {
  margin-right: 0;
  width: 60%;
}
.infoCardHeadline--BannerBottom__item--2 {
  margin-top: 0;
  padding: 5px 10px;
  color: #001689;
  background-color: white;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.infoCardSubhead--BannerBottom__item--2 {
  margin-top: 5px;
  padding: 5px 10px;
  color: #001689;
  background-color: white;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

/* ! Newsletter */
.newsletter--Newsletter {
  margin-top: 40px;
  background-image: url('https://epartner.vteximg.com.br/arquivos/mobile-banner-newsletter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.container--Newsletter {
  padding: 40px 10px;
}
.inputGroup--Newsletter {
  flex-direction: column;
}
.label--Newsletter {
  display: flex;
  flex-direction: column;
  color: #001689;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.label--Newsletter::before {
  content: 'Recíbe 20% DTCO en tu primera compra';
  margin-bottom: 10px;
  color: #001689;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.label--Newsletter .inputGroup {
  padding: 0 25px;
  color: #c5c5c5;
  background-color: white;
  border-radius: 100px;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  outline: none;
}
.label--Newsletter .inputGroup::placeholder {
  color: #c5c5c5;
}
.inputGroup--Newsletter
  :global(.vtex-input)
  :global(.vtex-input-prefix__group) {
  border: none;
}
.buttonContainer--Newsletter {
  padding-top: 20px;
}
.inputGroup--Newsletter
  :global(.vtex-input)
  :global(.vtex-styleguide-9-x-input) {
  color: #c5c5c5;
  background-color: white;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  border-radius: 100px;
}
.inputGroup--Newsletter
  :global(.vtex-input)
  :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #c5c5c5;
  font-size: 20px;
}
.inputGroup
  .buttonContainer--Newsletter
  :global(.vtex-button) {
  background-color: #001689;
  border-width: 1px;
  border-radius: 100px;
}
.inputGroup
  .buttonContainer--Newsletter
  :global(.vtex-button__label) {
  padding: 10px 20px !important;
  color: white;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 640px) {
  /* ! Banners bottom */
  .infoCardTextContainer--BannerTop__item--1 {
    margin-right: 0;
    width: 50%;
  }
  .infoCardTextContainer--BannerBottom__item--2 {
    margin-left: 0;
  }
}

@media (min-width: 800px) {
  /* ! Top Slider */
  .infoCardHeadline--TopSlide__Item::before {
    width: 150px;
    height: 225px;
  }

  /* ! Newsletter */
  .newsletter--Newsletter {
    background-size: cover;
  }
}

@media (min-width: 900px) {
  /* ! Top banners */
  .infoCardContainer--BannerTop__item {
    width: 100%;
    height: 100%;
  }
  .infoCardTextContainer--BannerTop__item {
    width: 70%;
  }
  .infoCardCallActionContainer--BannerTop__item--2 {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  /* ! Header */
  .searchBarContainer {
    width: 75%;
  }
  .autoCompleteOuterContainer
    :global(.vtex-input-prefix__group) {
    color: black;
    font-family: Urbanist;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    border-color: #f2f2f2;
    border-radius: 50px;
  }
  .searchBarIcon--search {
    color: #001689;
  }

  /* ! Category Slide */
  .infoCardContainer--CategorySlide__Item {
    width: 100%;
  }
  .infoCardImage--CategorySlide__Item {
    height: 150px;
  }

  /* ! Bottom Banners */
  .infoCardContainer--BannerBottom__item--1 {
    flex-direction: column-reverse;
  }
  .infoCardImageContainer--BannerBottom__item--1 {
    width: 70%;
  }
  .infoCardContainer--BannerBottom__item--2 {
    height: 100%;
  }

  /* ! Newsletter */
  .container--Newsletter {
    padding: 80px 10px;
  }
}

/* ------------------------------- */
.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

/* .newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
} */

.newsletter .container {
  padding: 60px 10px;
}

/* .label {
  color: #fff;
  font-size: 26px;
} */

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup
  :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup
  :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

/* .inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
} */

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .infoCardContainer--info-card-home
    .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home
    .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview
  .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview
  .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview
  .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview
  .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
