/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.label {
  display: block;
  padding: 0;
  color: #0891d0;
  font-family: Urbanist;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.buttonLink :global(.vtex-button) {
  border: 1px solid #28508c;
  border-radius: 100px;
}
.buttonLink :global(.vtex-button__label) {
  justify-content: flex-start;
  padding: 15px 20px !important;
}
.container :global(.relative) {
  width: 100%;
}
.container :global(.vtex-button):hover {
  background-color: transparent;
}
/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 1200px) {
  /* ! Header */
  .label {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .container
    :global(.vtex-button__label)::before {
    content: '';
    margin-right: 12px;
    width: 25px;
    height: 25px;
    background-image: url('https://beisbol.vteximg.com.br/arquivos/icono-usuario-header.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
/* ------------------------------- */
