/* ------------------------------- */
/* //* Footer */
/* ------------------------------- */
.trigger--Disclosure__Trigger {
  margin: 5px;
  padding: 0 50px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #001689;
  border-radius: 100px;
  outline: none;
}
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--client)::after,
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--support)::after,
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--politics)::after,
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--institutional)::after {
  transform: rotate(180deg);
}
/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 800px) {
  /* ! Footer */
  .trigger--Disclosure__Trigger {
    width: 50%;
  }
}
/* ------------------------------- */
.trigger--question {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.trigger--question
  :global(.vtex-rich-text-0-x-paragraph) {
  font-weight: bold;
}

.trigger--question:focus,
.trigger--question:focus
  :global(.vtex-rich-text-0-x-paragraph) {
  color: #0f3e99;
}

.trigger
  :global(.vtex-store-icons-0-x-caretIcon) {
  margin-right: 1rem;
}

.content--answer {
  transition: opacity 250ms ease-in-out,
    height 250ms ease-in-out,
    transform 250ms ease-in-out;
  opacity: 0;
  height: 0;
  transform: translate3d(0, -10%, 0);
}

.content--answer[data-enter] {
  opacity: 1;
  height: fit-content;
  transform: translate3d(0, 0, 0);
}

.content--answer[data-leave] {
  height: 0;
  overflow: hidden;
}
